@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("header.css");
@import url("visual.css");
@import url("main.css");
@import url("footer.css");

/* Global */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

/* Btn */
.btn {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 12px 15px;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary {
  border: none;
  color: rgba(0, 0, 0, 0.6);
}
.btn-alt {
  background-color: #ea4c89;
  border: none;
  color: #fff;
  transition: opacity 0.1s linear;
}
.btn-alt:hover {
  opacity: 0.7;
}

@media (max-width: 1200px) {
  /* header */
  #seperator {
    display: none;
  }
}

@media (max-width: 920px) {
  .header__container {
    padding: 0px 24px;
  }

  .header-left,
  .header-right {
    display: none;
  }

  .mobile-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-header__dropBtn {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .mobile-header__dropBtn i:last-child {
    display: none;
  }
  .mobile-header__dropBtn.mdrop i:last-child {
    display: inline;
  }
  .mobile-header__dropBtn.mdrop i:first-child {
    display: none;
  }

  .mobile-header__dropdown {
    display: none;
    width: 100%;
    padding: 0px 24px;
    padding-bottom: 10px;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
  }
  .mobile-header__dropdown.mdrop {
    display: block;
  }
  .mobile-header__dropdown-item {
    font-size: 20px;
    color: rgb(110, 109, 122);
    font-weight: 500;
    cursor: pointer;
  }
  .item__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
  }

  .mobile-header__dropdown-item .filter__input {
    margin-bottom: 10px;
  }

  .main-logo {
    margin-right: 0px;
    height: 60px;
  }

  .mobile-header .btn {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
