@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Global */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

/* Btn */
.btn {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 12px 15px;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary {
  border: none;
  color: rgba(0, 0, 0, 0.6);
}
.btn-alt {
  background-color: #ea4c89;
  border: none;
  color: #fff;
  transition: opacity 0.1s linear;
}
.btn-alt:hover {
  opacity: 0.7;
}

/* Header */
.main-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  position: relative;
}

.header-container {
  display: flex;
  padding: 0px 30px;
  justify-content: space-between;
  align-items: center;
}

.header-left,
.header-right,
.header__nav-list,
.header__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo {
  margin-right: 20px;
  transition: opacity 0.2s linear;
}
.main-logo:hover {
  opacity: 0.7;
}

.header__nav-list {
}
.header__nav-list li {
}

.header__nav-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: 500;
  opacity: 0.8;
  transition: opacity 0.2s linear;
  height: 83px;
}
.header__nav-item:hover {
  opacity: 1;
}

#seperator {
  margin-right: 20px;
  font-weight: 300;
  opacity: 0.4;
}

.search-btn {
  opacity: 0.5;
  margin-right: 8px;
}
.search-btn:hover {
  opacity: 0.4;
}

/* Dropdown */

.dropdown {
}
.dropdown:hover .dropdown__item {
  display: flex;
}

.dropdown__item {
  width: 100%;
  display: none;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 83px;
  padding: 32px 80px;
  background-color: #fff;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.dropdown__nav1 {
  display: flex;
}

.nav1__item {
  width: 165px;
  margin-right: 50px;
}

.nav1__item img {
  border-radius: 8px;
}

.nav1__item h4 {
  margin: 13px 0px;
  font-weight: 700;
}

.nav1__item p {
  font-size: 13px;
  line-height: 1.4;
  color: rgb(94, 94, 94);
  transition: color 0.1s linear;
}
.nav1__item:hover p {
  color: #000;
}

.dropdown__nav2 {
  margin-right: 140px;
}

.nav2__item {
  margin-bottom: 23px;
  font-size: 15px;
  font-weight: 500;
  transition: opacity 0.1s linear;
}
.nav2__item:last-child {
  margin-bottom: 0px;
}
.nav2__item:hover {
  opacity: 0.8;
}

#pro {
  text-transform: uppercase;
  font-size: 11px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 5px;
  padding: 1px;
  border-radius: 2px;
}

/* Visual */
.visual {
  background-color: #f9f8fd;
}

.visual-container {
  padding: 38px 210px;
  padding-left: 284px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visual__content {
  color: #333333;
  max-width: 595px;
}
.visual__content h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}

.visual__content p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.visual__img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.visual__img img {
  width: 490px;
  height: 360px;
  margin-bottom: 25px;
}

.visual__img span {
  color: #9e9ea7;
  font-size: 15px;
}
.visual__img a {
  color: #9e9ea7;
  text-decoration: underline;
}

/* Main */
.main-content {
  background-color: #fff;
  height: 300vh;
}

.main-container {
  margin: 32px 72px;
  position: relative;
}

/* Main Nav*/
.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(110, 110, 110);
}

.main__nav--dropdown {
  position: relative;
}

.main__nav-btn {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-size: 15px;
  color: rgb(110, 110, 110);
  transition: color 0.1s linear;
  cursor: pointer;
}
.main__nav-btn i {
  transition: transform 0.15s linear;
}
.main__nav-btn.show i {
  transform: rotate(180deg);
}

.main__nav-btn:hover {
  color: #000;
  box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}
.main__nav-btn:focus {
  outline: none;
}

.nav__dropdown--list {
  display: none;
  width: 180px;
  position: absolute;
  top: 50px;
  padding: 5px 0px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(110, 110, 110, 0.1);
}
.nav__dropdown--list.show {
  display: block;
}
.nav__dropdown--item:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__dropdown--list a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: rgb(110, 110, 110);
}
.nav__dropdown--list a:hover {
  background-color: #f5f5f5;
}

.nav__dropdown--list .current-item {
  color: #ea4c89;
  font-weight: 500;
}

.main__nav--list {
  display: flex;
  font-size: 15px;
}

.main__nav--item {
  margin-right: 5px;
}
.main__nav--item a {
  padding: 12px;
  color: rgb(110, 110, 110);
  transition: color 0.1s linear;
}
.item-selected a {
  background-color: #f5f5f5;
  border-radius: 10px;
  color: #000;
  font-weight: 500;
}
.main__nav--item a:hover {
  color: #000;
}

.main__nav--filters {
  /* position: relative; */
}
.main__nav--filters-btn {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-size: 15px;
  transition: border-color 0.1s linear;
}
.main__nav--filters-btn:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.filter__dropdown {
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.filter__dropdown-item {
  width: 100%;
}

.filter__dropdown-item h5 {
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
}

.filter__input {
  position: relative;
}

.filter__input i {
  position: absolute;
  top: 10px;
  left: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.filter__input input {
  width: 100%;
  max-width: 325px;
  padding: 12px 20px;
  padding-left: 40px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
}
