/* Visual */
.visual {
  background-color: #f9f8fd;
}

.visual-container {
  padding: 38px 210px;
  padding-left: 284px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visual__content {
  color: #333333;
  max-width: 595px;
}
.visual__content h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}

.visual__content p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.visual__img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.visual__img img {
  /* width: 490px;
  height: 360px; */
  max-width: 490px;
  margin-bottom: 25px;
}

.visual__img span {
  color: #9e9ea7;
  font-size: 15px;
}
.visual__img a {
  color: #9e9ea7;
  text-decoration: underline;
}
